
.border{
    padding:2%;
    width: 50%;
    margin-left: 25%;
    height:100%;
}

.form-group{
    margin-left: 5%;
}
.form2{
    padding:2%;

}

h2{
    text-align: center;
}
.btn{
    margin-left:90%;
}